/* 자주쓰는 색 */
$KB-Brown: #786F66;
$KB-Yellow: #FBD832;
$KB-Orange: #F46600;
$KB-Blue: #508AE6;
$Event-Blue: #006FEB;
$moreBtn: #767676;
$sideBarBg: #F4F1ED;
$nonActiveFont: #555555;
$nonActiveBox: #F1EFE9;
$border: #867f76;
$footerGray: #F2F2F2;